@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Tailwind Style */

.container {
  @apply relative justify-center items-center flex-col max-w-7xl mx-auto px-6 sm:px-16;
}

/* Markdown Style */

.markdown {
  @apply relative justify-center items-center flex-col py-6;
}

.markdown img {
  @apply w-1/2 mx-auto rounded-md;
}

.markdown h2 {
  @apply pb-4 pt-3 text-2xl font-bold;
}

.markdown p {
  @apply text-justify;
}
